@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em 1em;
}

header {
    text-align: center;
    background-image: url(https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    margin: 2em auto 0;
    max-width: 600px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style: none;
}

nav li a {
    font-size: 1.25em;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

main{
    display: flex;
    flex-flow: column;
}

.hero {
    text-align: center;
}

h1 {
    
    font-weight: 700;
    color: white;
    margin: 2em auto 0.5em auto;
}



.hero_input {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 30px;
}

.hero_btn {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 34px;
    background-color:  white;
    border: none;
}

.hero_paragraph {
    font-size: 1.2em;
    font-weight: 600;
    max-width: 400px;
    line-height: 1.8em;
    margin: 0.5em auto;
}




