@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;  
}

main {
    display: flex;
    flex-flow: column;
    background-color: whitesmoke;
}


/* --------------
      HEADER 
-------------- */ 



header {
    background-image: url(https://images.pexels.com/photos/209292/pexels-photo-209292.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white
}

.container {
    text-align: center;
    
    margin: 0 auto;
    padding: 2em 1em;
}

.logo_link {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.3em;
}

nav {
    margin: 2em auto 0;
    max-width: 600px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style: none;
}

nav li a {
    font-size: 1.25em;
    font-weight: 500;
    text-decoration: none;
    color: white;
}


.hero {
    text-align: center;
}

h1 {    
    font-weight: 700;
    color: white;
    margin: 2em auto 0.5em auto;
}

.hero_input {
    margin: 0;
    padding: 0;
    width: 250px;
    height: 30px;
}

.hero_btn {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 34px;
    background-color:  white;
    border: none;
}

.hero_paragraph {
    font-size: 1.2em;
    font-weight: 600;
    max-width: 400px;
    line-height: 1.8em;
    margin: 0.5em auto;
    color: white;
}



/* --------------
      MAIN 
-------------- */ 

section {
    margin: 1.5em auto;
}

h5 {
    margin: 0 auto 3em auto;
}

.card {
    max-width: 270px;
    margin: 1em auto;
    background-color: white;    
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

.card:hover { 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} 

.card_img {
    max-width: 80px;
    margin: 3em 5em 1em;    
}

.card_text {
    padding: 1em 2em 2em;
}

.card_par {
    color: dimgrey;  
    margin: 1em;
    font-size: 0.75em;
}

.card_link {
    text-decoration: none;
    font-size: 0.9em;
    color: blue;
    font-weight: 700;
}

.card_link:hover {
    text-decoration: underline;
}


/* ---------------------
         FOOTER 
--------------------- */

footer {
    background-color: darkgrey;
    align-content: center;
    padding: 2em ;
}

.footer_h {
    font-size: 0.75em;
    font-weight: 700;
    color: black;
    text-align: center;
    
    
}



/* ---------------------
      MEDIA QUERIES 
--------------------- */ 

@media screen and (min-width: 820px){

    .section {
        flex-flow: row;
    }

    .identify {
        margin: 0.5em auto;   
    }    

    .card {
        margin: 1em;
        display: inline-block;
    }
    
}